<div class="detail ">
    <div class="center">
    <a ng-click="f(event)">Edit</a>
    <a ui-sref="task">Back</a>
    <p>Name</p>
    <p>{{event.name}}</p>
    <p>description</p>
    <p>{{event.description}}</p>
    <p>data</p>
    <p>{{event.data}}</p>
    <p>priority</p>
    <p>{{event.priority}}</p>
    <p>plan</p>
    <p>{{event.plan}}</p>
    <p>estimated</p>
    <p>{{event.estimated}}</p>
    <p>elapsed</p>
    <p>{{event.elapsed}}</p>
    <p>status</p>
    <p>{{event.status}}</p>
    </div>
</div>
